/* Site Title & Page Header Visibility (Index Page) */
@media screen and (max-width:28rem) {
   #index-topbar-title { // Hide topbar title <= 448px
      display:none;
   }
   #index-page-heading { // Hide page heading <= 448px
     display:none;
   }
}

@media not screen and (max-width:28rem) {
  #index-page-title { // Hide page title > 448px
    display:none;
  }
}

/* Topbar Search Bar Padding (Index Page) */
@media screen and (min-width: 62rem) and (max-width: 92rem) {
  // Padding for icon spacing 992px - 1472px
  #index-topbar-google, #index-topbar-wiktionary {
    padding-right: 0.5rem
  }
}

/* Placeholder Text */
input {
  &::-webkit-input-placeholder { // Chrome/Opera/Safari
    color: darken($body-color, 25%) !important;
  }
  &::-moz-placeholder { // Firefox 19+
    color: darken($body-color, 25%) !important;
  }
  &:-ms-input-placeholder { // IE 10+
    color: darken($body-color, 25%) !important;
  }
  &:-moz-placeholder { // Firefox 18-
    color: darken($body-color, 25%) !important;
  }
}

/* Form Focus Outline */
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(97, 173, 137, 0.25);
}

/* Icon Style 32x32 */
.img-icon-32 {
  width: 32px;
  height: 32px;
}

/* Blockquote Text */
blockquote {
  p {
    font-size: 1.2rem;
  }
}

.quote-slide {
  blockquote {
    p {
      font-size: 1.15rem;
    }
  }
}

.blockquote-footer {
  color: $body-color;
}

/* Image Caption Text */
.image-caption {
  font-size: 90%;
}

/* Dark Modal */
.modal-dark {
  background-color: $dark-tertiary;
  border: 1px solid $border-color;
  border-radius: 0.35rem;
}

/* Countdown Timers */
.countdown-modal {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.countdown {
    text-transform: uppercase;
    font-weight: bold;
}

.countdown span {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 3rem;
    margin-left: 0.8rem;
}

.countdown span:first-of-type {
    margin-left: 0;
}

.countdown-boxes {
    text-transform: uppercase;
    font-weight: bold;
}

.countdown-boxes span {
    width: 60px;
    height: 50px;
    border-radius: 0%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.countdown-boxes span:first-of-type {
    margin-left: 0;
}

.countdown-text-rome {
  color: $white;
  text-shadow: 0 1px 0 $black;
}

.countdown-text-christmas {
  color: $white;
  text-shadow: 0 1px 0 $black;
}

.bg-countdown-rome {
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.275), rgba(0, 0, 0, 0.275)), url('/img/gladiators.jpg');
    background-size: cover;
}

.bg-gradient-halloween {
    background: #dc5200;
    background: -webkit-linear-gradient(to right, #dc5200, #ff7c2e, #dc5200);
    background: linear-gradient(to right, #dc5200, #ff7c2e, #dc5200);
}

.bg-gradient-christmas {
    background: #34a65f;
    background: -webkit-linear-gradient(to bottom right, #34a65f, #cc231e, #34a65f, #cc231e);
    background: linear-gradient(to bottom right, #34a65f, #cc231e, #34a65f, #cc231e);
}
/* End Countdown Timers */

/* Slick Slideshow */
.slick-slideshow
{
  display: none; // Hide until slick is initialized
}

.slick-slideshow.slick-initialized
{
  display: block; // Display once slick is initialized
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  transition-delay: 10ms; // Fix first slide flicker when looping
}

.slick-track {
  display: flex; // Vertical center slide content
}
.slick-track .slick-slide {
  display: flex; // Vertical center slide content
  height: auto;
  align-items: center;
  justify-content: center;
}
/* End Slick Slideshow */

/* Photography Image Gallery */
.gallery-image {
  display: none;
}

/* Video Container */
.video-container {
  max-width: 100%;
  border-radius: 0.35rem;
  overflow: hidden;
}

/* Plyr Control Colors */
.plyr--full-ui input[type=range] {
  color: $custom-success;
}

.plyr__control--overlaid {
  background: rgba($custom-success, .8);
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
  background: $custom-success;
}

.plyr__control.plyr__tab-focus {
  box-shadow: 0 0 0 5px rgba($custom-success, .5);
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
  background: $custom-success;
}
