// Background Colors
.custom-bg-white {
  background-color: $white;
}

.custom-bg-black {
  background-color: $black
}

.custom-bg-favicon-gray {
  background-color: #b8b8b8;
}

// Text Colors
.custom-text-white {
  color: $white;
}

.custom-text-black {
  color: $black;
}
