// Custom Dropdown Styling

.dropdown {
  .dropdown-menu {
    font-size: $dropdown-font-size;
    .dropdown-header {
      @extend .text-uppercase;
      font-weight: 800;
      font-size: 0.65rem;
      color: $gray-500;
    }
  }
}

// Dropdown Submenu

.dropdown-submenu {
  position: relative;

  > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
  }

  &.dropdown-submenu-right {
    > .dropdown-menu {
      left: 100%;
      right: auto;
    }
  }

  &.dropdown-submenu-left {
    > .dropdown-menu {
      left: auto;
      right: 100%;
    }
  }

  &.open > .dropdown-menu {
    display: block;
  }

  &.open > .dropdown-toggle {
    background-color: $dark-secondary;
    color: $white;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    > .dropdown-menu {
      position: static;
      left: 0;
      right: auto;
      margin-left: 0;
      display: none;
    }
  }
}

// Dropdown Link Item

.dropdown-link-item {
    display: block;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    color: fade-out($white, 0.2);
    text-align: center;
    text-decoration: none;
    border-radius: $border-radius;
    white-space: nowrap;

    &:hover, &:active {
        background-color: $dark-secondary;
        color: $white;
    }

    &:focus {
      background-color: transparent;
      color: fade-out($white, 0.2);
    }
}

// Utility class to hide arrow from dropdown

.dropdown.no-arrow {
  .dropdown-toggle::after {
    display: none;
  }
}
