// Custom Dropdown Styling

.dropdown {
  .dropdown-menu {
    font-size: $dropdown-font-size;
    .dropdown-header {
      @extend .text-uppercase;
      font-weight: 800;
      font-size: 0.65rem;
      color: $gray-500;
    }
  }
}

// Utility class to hide arrow from dropdown

.dropdown.no-arrow {
  .dropdown-toggle::after {
    display: none;
  }
}

// Dropdown Link Item

.dropdown-link-item {
    display: block;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    color: fade-out($white, 0.2);
    text-align: center;
    text-decoration: none;
    border-radius: $border-radius;
    white-space: nowrap;

    &:hover, &:active {
        background-color: $dark-secondary;
        color: $white;
    }

    &:focus {
      background-color: transparent;
      color: fade-out($white, 0.2);
    }
}
