/* Carousel Display 1 (xs, sm, md) */
@include media-breakpoint-down(md) {
    .carousel-inner .carousel-item.plant-item > div {
        display: none;
    }
    .carousel-inner .carousel-item.plant-item > div:first-child {
        display: block;
    }
}

/* Carousel Display 3 (lg, xl) */
@include media-breakpoint-up(lg) {
  .carousel-inner .carousel-item.plant-item.active,
  .carousel-inner .carousel-item-next.plant-item,
  .carousel-inner .carousel-item-prev.plant-item {
      display: flex;
  }

  .carousel-inner .carousel-item-right.plant-item.active,
  .carousel-inner .carousel-item-next.plant-item {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.plant-item.active,
  .carousel-inner .carousel-item-prev.plant-item {
    transform: translateX(-33.333%);
  }

  .carousel-inner .carousel-item-right.plant-item,
  .carousel-inner .carousel-item-left.plant-item {
    transform: translateX(0);
  }
}

/* Carousel Controls */
.carousel-control-prev {
  left: -3%;
}

.carousel-control-next {
  right: -3%;
}
