<div class="modal fade" id="countdownModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content modal-dark">
      <div class="modal-body countdown-modal">
        <div class="container-fluid px-2">
          <div class="row text-center">
            <!-- Rome Countdown -->
            <div class="col-lg-4 p-2">
              <div class="rounded bg-countdown-rome countdown-text-rome p-2 shadow text-center">
                <p class="mb-2 font-weight-bold text-uppercase" id="countdown-rome"></p>
                <div id="clock-rome" class="countdown-boxes d-flex flex-wrap justify-content-center pt-2"></div>
              </div>
            </div>
            <!-- Halloween Countdown -->
            <div class="col-lg-4 p-2">
              <div class="rounded bg-gradient-halloween text-black p-2 shadow text-center">
                <i class="fas fa-ghost fa-fw"></i>
                <p class="mb-2 font-weight-bold text-uppercase" id="countdown-halloween" style="display:inline-block"></p>
                <i class="fas fa-ghost fa-fw"></i>
                <div id="clock-halloween" class="countdown-boxes d-flex flex-wrap justify-content-center pt-2"></div>
              </div>
            </div>
            <!-- Christmas Countdown -->
            <div class="col-lg-4 p-2">
              <div class="rounded bg-gradient-christmas snowflakes countdown-text-christmas p-2 shadow text-center">
                <div id="container-snowflakes">
                  <div class="snowflake">
                    <div class="inner">❅</div>
                  </div>
                  <div class="snowflake">
                    <div class="inner">❆</div>
                  </div>
                  <div class="snowflake">
                    <div class="inner">❅</div>
                  </div>
                  <div class="snowflake">
                    <div class="inner">❆</div>
                  </div>
                  <div class="snowflake">
                    <div class="inner">❅</div>
                  </div>
                  <div class="snowflake">
                    <div class="inner">❆</div>
                  </div>
                  <div class="snowflake">
                    <div class="inner">❅</div>
                  </div>
                  <div class="snowflake">
                    <div class="inner">❆</div>
                  </div>
                  <div class="snowflake">
                    <div class="inner">❅</div>
                  </div>
                  <div class="snowflake">
                    <div class="inner">❆</div>
                  </div>
                  <div class="snowflake">
                    <div class="inner">❅</div>
                  </div>
                  <div class="snowflake">
                    <div class="inner">❆</div>
                  </div>
                  <div class="snowflake">
                    <div class="inner">❅</div>
                  </div>
                </div>
                <p class="mb-2 font-weight-bold text-uppercase" id="countdown-christmas"></p>
                <div id="clock-christmas" class="countdown-boxes d-flex flex-wrap justify-content-center pt-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/jquery.countdown.min.js"></script>
<script src="js/countdown.min.js"></script>
