<ul class="navbar-nav bg-dark-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Site Logo & Title -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <img src="/img/letter_r_green.svg" class="img-icon-32">
        </div>
        <div class="sidebar-brand-text mx-3">Ryan's Page</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Home -->
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-star"></i>
            <span>Home</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Hobbies - Interests
    </div>

    <!-- Nav Item - Ancient World Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-university"></i>
            <span>Ancient World</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-dark-tertiary py-2 collapse-inner rounded">
                <a class="collapse-item" href="index.html">Roman History</a>
                <a class="collapse-item" href="index.html">Latin + Ἑλληνική</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Cacti & Succulents Page -->
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-leaf"></i>
            <span>Cacti & Succulents</span></a>
    </li>

    <!-- Nav Item - Astronomy Page -->
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-moon"></i>
            <span>Astronomy</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Links
    </div>

    <!-- Nav Item - Media Page -->
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-film"></i>
            <span>Media</span></a>
    </li>

    <!-- Nav Item - Other Page -->
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-link"></i>
            <span>Other</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Image -->
    <div class="sidebar-card">
        <img class="sidebar-card-illustration" src="img/profile.jpg">
    </div>

</ul>

<script src="js/sidebar.min.js"></script>
