.snowflakes {
  position:relative;
  overflow:hidden;
}

@keyframes snowflakes-fall {
  0% {
    transform: translateY(0vh);
  }

  100% {
    transform: translateY(50vh);
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(35px);
  }

  100% {
    transform: translateX(0px);
  }
}

.snowflake {
  position: absolute;
  top: -15%;
  z-index: 9999;
  user-select: none;
  cursor: default;

  animation-name: snowflakes-shake;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.snowflake .inner {
  animation-name: snowflakes-fall;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.snowflake:nth-of-type(1) {
  left: 1%;
  animation-delay: 0s;
}

.snowflake:nth-of-type(1) .inner {
  animation-delay: 0s;
}

.snowflake:nth-of-type(2) {
  left: 5%;
  animation-delay: 1s;
}

.snowflake:nth-of-type(2) .inner {
  animation-delay: 1s;
}

.snowflake:nth-of-type(3) {
  left: 15%;
  animation-delay: 0.5s;
}

.snowflake:nth-of-type(3) .inner {
  animation-delay: 6s;
}

.snowflake:nth-of-type(4) {
  left: 25%;
  animation-delay: 2s;
}

.snowflake:nth-of-type(4) .inner {
  animation-delay: 4s;
}

.snowflake:nth-of-type(5) {
  left: 35%;
  animation-delay: 1.5s;
}

.snowflake:nth-of-type(5) .inner {
  animation-delay: 5.5s;
}

.snowflake:nth-of-type(6) {
  left: 45%;
  animation-delay: 3.5s;
}

.snowflake:nth-of-type(6) .inner {
  animation-delay: 7s;
}

.snowflake:nth-of-type(7) {
  left: 55%;
  animation-delay: 2s;
}

.snowflake:nth-of-type(7) .inner {
  animation-delay: 6s;
}

.snowflake:nth-of-type(8) {
  left: 65%;
  animation-delay: 1s;
}

.snowflake:nth-of-type(8) .inner {
  animation-delay: 2.5s;
}

.snowflake:nth-of-type(9) {
  left: 75%;
  animation-delay: 0s;
}

.snowflake:nth-of-type(9) .inner {
  animation-delay: 1s;
}

.snowflake:nth-of-type(10) {
  left: 85%;
  animation-delay: 1.5s;
}

.snowflake:nth-of-type(10) .inner {
  animation-delay: 3s;
}

.snowflake:nth-of-type(11) {
  left: 40%;
  animation-delay: 1.5s;
}

.snowflake:nth-of-type(11) .inner {
  animation-delay: 1.5s;
}

.snowflake:nth-of-type(12) {
  left: 70%;
  animation-delay: 2.5s;
}

.snowflake:nth-of-type(12) .inner {
  animation-delay: 4s;
}

.snowflake:nth-of-type(13) {
  left: 80%;
  animation-delay: 1.5s;
}

.snowflake:nth-of-type(13) .inner {
  animation-delay: 6.5s;
}
